<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>Guido van Rossum</h1>
<p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Guido_van_Rossum_OSCON_2006.jpg"
         width="326" height="490"><br>
    <div><mark><a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%BE%D1%81%D1%81%D1%83%D0%BC,_%D0%93%D0%B2%D0%B8%D0%B4%D0
    %BE_%D0%B2%D0%B0%D0%BD">Guido van Rossum</a></mark> известен как автор языка <strong><em>Python</em></strong><br>
    Ван Россум родился и вырос в Нидерландах, где он закончил Амстердамский университет<br>
    по специальности «математика и информатика» в <del>1984</del> 1982 году.</div>
    <div>Затем он работал в различных исследовательских институтах, в том числе Голландском центре<br>
        математики и информатики (Амстердам), Национальном Институте Стандартов (США)<br>
        и Corporation for National Research Initiatives (США).</div>
</p>
</body>